<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--	<title>Online-Shop</title>-->
<!--	<link rel="icon" th:href="${favicon}">-->
<!--	&lt;!&ndash;<link rel="stylesheet" th:href="@{/css/reset.css}">&ndash;&gt;-->
<!--	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--	<script th:href="@{/js/bootstrap.js}"></script>-->
	<link rel="stylesheet" href="/css/style.css">
</head>