<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-10 m-0 border-0">
    <header class="row">
        <nav class="nav nav-pills nav-fill col-3" style="inline-size: auto;">
            <button class="btn-bd-light rounded m-2" type="button">Home</button>
            <button class="btn-bd-light rounded m-2" type="button">Add product</button>
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
            
            <a class="nav-link active m-2" href="#">Login</a>
            <a class="nav-link active m-2" href="#">Register</a>
            <a class="nav-link active m-2" href="#">Logout</a>

            
            <form class="d-flex p-2 ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
          </nav>
    </header>
  </body>
</html>