<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <!--    <link rel="stylesheet" th:href="@{../static/css/style2.css}">-->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header th:fragment="navbar">
    <div class="navigation">
        <ul>
            <li class="list active">
                <a  href="/">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'HOME'}">Home</span>
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="list">
                <a href="/users/login" >
                    <span class="icon">
                        <ion-icon name="log-in-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'LOGIN'}">Login</span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="list">
                <a  href="/users/logout">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'LOGOUT'}">Logout</span>
                </a>
            </li>
            <li class="list">
                <a  href="/products">
                    <span class="icon">
                        <ion-icon name="storefront-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'PRODUCTS'}">Products</span>
                </a>
            </li>
            <li class="list">
                <a sec:authorize="isAuthenticated()" href="/cart">
                    <span class="icon">
                        <ion-icon name="cart-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'CART'}">Cart</span>
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="list">
                <a href="/users/register">
                    <span class="icon">
                        <ion-icon name="person-add-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'REGISTER'}">Register</span>
                </a>
            </li>
            <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="list">
                <a href="/products/add">
                    <span class="icon">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </span>
                    <span class="text" th:text="#{'PRODUCT_ADD'}">Add Product</span>
                </a>
            </li>
            <div class="indicator"></div>
            <div class="lang-btn">
                <button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/?localeData=en'"></button> <!-- 3 -->
                <button type="button" th:text="#{switch-bg}" onclick="window.location.href='http://localhost:8080/?localeData=bg'"></button>
            </div>
        </ul>
    </div>
    <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach(item =>
                item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) =>
            item.addEventListener('mouseover',activeLink));
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</header>

</body>
</html>