body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
    background-color: rgb(234, 241, 239);
}

form {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(234, 241,239);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.bg-nav{
    display: inline-block;
    border: 2px solid black;
    width: 100%;
    background-color: black;
    height: 20vh;
    padding: 20px;
    
}
.bg-nav{
    background-color: rgba(1, 141, 8, 0);
}
.addProduct{
    background-image: url(/images/addProduct.jpg);
    background-size: cover;
    background-position: center;
}
.nav{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
}
.nav-ul{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      text-align: center;
      display: inline-block;
      background: #019101;
}
.nav-ul{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      
}
.nav-ul > li {
    display: inline-block;
}
.nav-item {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .2s;
}

.nav-item:hover {
    /* transform: rotate(7deg); */
    color: rgb(244, 14, 22);
    background: #019101;
}
.nav-item left{
  float: left;
}