/*body {*/
/*    background-position: center;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    margin-bottom: 5rem;*/
/*    background-color: rgb(234, 241, 239);*/
/*}*/

.bg-nav{
    display: inline-block;
    border: 2px solid black;
    width: 100%;
    background-color: black;
    height: 20vh;
    padding: 20px;
    
}
.bg-nav{
    background-color: rgba(1, 141, 8, 0);
}
.addProduct{
    background-image: url("../images/addProduct.jpg");
    /*background-image: url("static/images/addProduct.jpg");*/
    background-size: cover;
}
.homePage{
    background-image: url("../images/home_page3.jpg");
    /*background-image: url("static/images/home_page3.jpg");*/
    background-size: cover;
}
.login_page{
    /*background-image: url("../images/login_page4.jpg");*/
    /*background-image: url("static/images/login_page4.jpg");*/
    background-image: url("../images/login_page4.jpg");
    background-size: cover;
}
.register_page{
    background-image: url("../images/register_page2.jpg");
    background-size: cover ;
}
.product_page{
    /*z-index: -100;*/
    background-image: url("../images/products_page.jpg");
    background-size: cover;
    /*background-image: url("static/images/product_page.jpg");*/
}
.nav{
    display: inline-block;
    box-sizing: border-box;
      margin: 0;
      padding: 0;
}
.nav-ul{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      text-align: center;
      display: inline-block;
      background: #019101;
}
.nav-ul{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      
}
.nav-ul > li {
    display: inline-block;
}
.nav-item {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .2s;
}

.nav-item:hover {
    /* transform: rotate(7deg); */
    color: rgb(244, 14, 22);
    background: #019101;
}
.nav-item left{
  float: left;
}
/* navbar2 */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr1: rgba(0,0,0,0.0);
    --clr: #f5f6f7;
    /*--clr: #f5f6f7;*/
}
body
{
    margin: 50px;
    display: grid;
    justify-content: center;
    align-items: normal;
    min-height: 100vh;
    background: var(--clr);
}
.navigation
{
    /*navbar wight*/
    width: 670px;
    height: 70px;
    background: #5252f4;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}
.navigation ul {
    display: flex;
    /*move icons left right - 540px*/
    width: 540px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-35px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(15px);
}
.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background:#036815;
    border-radius: 50%;
    /*border: 6px solid var(--clr);*/
    border: 6px solid var(--clr1);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr1);
    /*box-shadow: 1px -10px 0 0 var(--clr);*/
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr1);
}
.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator
{
    transform: translateX(calc(70px * 5));
}
/* navbar2 */
/* INDEX PAGE */
/*.conteiner*/
/*{*/
/*    width: 100%;*/
/*    height: 100vh;   */
/*    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),url(/static/images/home_page.jpg));*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/
/* login page */
.form-login{
    margin: 10px auto;
    padding: 50px;
    /* background-color:#f5f6f7; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 15vh;
}
.form-login small{
    display: grid;
}
.container{
    display: flex;
    flex-direction: column;
}

.products-wrapper {
    display: flex;
    justify-content: center;
}

/*.product-wrapper {*/
/*    background-color: white;*/
/*    opacity: 0.7;*/
/*    margin: 10px;*/
/*}*/
.product-page-h1 {
    color: blue;
    background-color: #0dcaf0;
    text-align: center;
    margin: 10px;
}
/*.product-page-h1 {*/
/*    background-color: white;*/
/*    opacity: 0.7;*/
/*}*/
.cart-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #997404;
    opacity: 1;
    height: 50px;
}
.cart-table-row{
    background-color: pink;
    opacity: 0.7;
}
.cart-table, table, tbody, tr, td{
    text-align: center;
}
.title-h1{
    text-align: center;
}
.cart-button{
	display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ffc720;
    cursor: pointer;
}
.cart-btn{
    text-align: center;
}
.container-order{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
ul li ::marker,
ol li ::marker{
    content: none;
}