<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 <link rel="stylesheet" href="/static/css/style2.css">
<head th:replace="fragments/head2 :: head"></head>
<body class="homePage">
<header th:replace="fragments/navbar2::navbar"></header>
<main>
    <div class="cart-wrapper">
        <h1 class="cart-h1" th:text="#{'CART'}">Cart</h1>
<!--        <form th:action="@{/order/get}" th:method="post">-->

            <th:block>
                <table class="cart-table">
                    <thead>
                    <tr>
                        <th th:text="#{'NAME'}">name</th>
                        <th th:text="#{'DESCRIPTION'}">description</th>
                        <th th:text="#{'CONDITION'}">condition</th>
                        <th th:text="#{'CATEGORY'}">category</th>
                        <th th:text="#{'QUANTITY'}">quantity</th>
                    </tr>
                    </thead>
                    <tbody th:each="p : ${allProducts}">
                    <tr class="cart-table-row">
                        <td th:text="*{p.name}"></td>
                        <td th:text="*{p.description}"></td>
                        <td th:text="*{p.productCondition}"></td>
                        <td th:text="*{p.category.getCategoryName()}"></td>
                        <td th:text="*{p.orderQuantity}"></td>
                        <td th:text="*{p.price}"></td>
                        <td><a type="button" class="cart-button"
                               th:href="@{/cart/remove-from-cart/{productId}(productId = ${p.getId()})}"
                               th:text="#{'REMOVE'}"
                        >remove</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="cart-btn">
                    <a th:href="@{/order/get}" type="button" class="cart-button" th:text="#{'ORDER'}">Order</a>
                </div>
            </th:block>
    </div>
</main>
</body>
</html>