<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- <link rel="stylesheet" href="/static/css/style2.css">-->
<!-- <link rel="stylesheet" th:href="@{../static/css/style2.css}">-->
<!-- <link rel="stylesheet" href="/static/css/style2.css">-->
<head th:replace="fragments/head2 :: head"></head>

<body class="product_page">
<header th:replace="fragments/navbar2::navbar"></header>
<main>
    <div class="product-wrapper">
        <h1 class="product-page-h1" th:text="#{'PRODUCTS'}">PRODUCTS</h1>
        <table class="cart-table">
            <thead>
            <tr>
                <th th:text="#{'NAME'}">name</th>
                <th th:text="#{'DESCRIPTION'}">description</th>
                <th th:text="#{'CONDITION'}">condition</th>
                <th th:text="#{'CATEGORY'}">category</th>
                <th th:text="#{'PRICE'}">price</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="p : ${products}">
                <tr class="cart-table-row">
                    <td>
                        <h3 th:text="*{p.name}"></h3>
                        <div class="product-photo-wrapper">
                            <img class="product-photo" th:src="*{p.photoUrl}">
                        </div>
                    </td>
                    <td th:text="*{p.description}"></td>
                    <td th:text="*{p.productCondition}"></td>
                    <td th:text="*{p.category.getCategoryName()}"></td>
                    <!-- <td th:text="*{p.quantity}"></td> -->
                    <td th:text="*{p.price}"></td>

                    <td><a class="cart-button" th:href="@{/cart/add-to-cart/{productId}(productId = ${p.getId()})}" th:text="#{'ADD_TO_CART'}">Add To Cart</a></td>
                    <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a class="cart-button" th:href="@{/products/edit/{productId}(productId = ${p.id})}" th:text="#{'EDIT'}">edit</a></td>
                    <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a class="cart-button" th:href="@{/products/delete/{productId}(productId = ${p.id})}" th:text="#{'DELETE'}">delete</a></td>

                </tr>
            </th:block>

            </tbody>


            <!-- 
            <tbody th:each="p : ${products}">
            <tr class="cart-table-row">
                <td th:text="*{p.name}" th:field="*{addProductObject.name}"></td>
                <td th:text="*{p.description}" th:field="*{addProductObject.description}"></td>
                <td th:text="*{p.productCondition}" th:field="*{addProductObject.productCondition}"></td>
                <td th:text="*{p.category.getCategoryName()}" th:field="*{addProductObject.getCategoryName()}"></td>
                <td th:text="*{p.quantity}" th:field="*{addProductObject.quantity}"></td>
                <td th:text="*{p.price}" th:field="*{addProductObject.price}"></td>
                
                <td><button class="cart-button" type="submit">Buy</button></td>
            </tr>
            </tbody>
            th:action="@{/cart/add-to-cart{productId}(productId = ${product.getId()})}" th:method="POST" th:object="${addProductObject}"
            <input hidden th:text="*{p.id}" th:field="*{addProductObject.id}"> -->

        </table>
    </div>
</main>
</body>
</html>