<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<!-- <link rel="stylesheet" href="/static/css/style.css"> -->
<head th:replace="fragments/head :: head"></head>
<body class="product_page">
<header th:replace="fragments/navbar2::nav2"></header>
<main>
    <div class="product-wrapper">
        <h1 class="product-page-h1">PRODUCTS</h1>
        <table class="cart-table">
            <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>condition</th>
                <th>category</th>
                <th>quantity</th>
            </tr>
            </thead>
            <tbody th:each="p : ${products}">
            <tr class="cart-table-row">
                <td th:text="*{p.name}"></td>
                <td th:text="*{p.description}"></td>
                <td th:text="*{p.productCondition}"></td>
                <td th:text="*{p.category.getCategoryName()}"></td>
                <td th:text="*{p.quantity}"></td>
                <td><button class="cart-button">buy</button></td>
            </tr>
            </tbody>
        </table>
        <!--        <style>-->
        <!--            .image-wrapper {-->
        <!--                width: 150px;-->
        <!--                height: 150px;-->
        <!--            }-->
        <!--            .image {-->
        <!--                display: block;-->
        <!--                width: 100%;-->
        <!--                height: 100%;-->
        <!--            }-->
        <!--            .products-wrapper {-->
        <!--                opacity: 1;-->
        <!--                display: flex;-->
        <!--                flex-direction: row;-->
        <!--                flex-wrap: wrap;-->
        <!--            }-->
        <!--            .product-wrapper {-->
        <!--                opacity: 1;-->
        <!--                display: flex;-->
        <!--                flex-direction: row;-->
        <!--                background-color: white !important;-->
        <!--                padding: 15px;-->
        <!--                box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);-->
        <!--            }-->
        <!--            .product-left-side {-->
        <!--                padding: 15px;-->
        <!--                display: flex;-->
        <!--                flex-direction: column;-->
        <!--                align-items: center;-->
        <!--                justify-content: flex-start;-->
        <!--            }-->
        <!--            .product-right-side {-->
        <!--                padding: 15px;-->
        <!--                background-color: gray;-->
        <!--                display: flex;-->
        <!--                flex-direction: column;-->
        <!--                align-items: center;-->
        <!--                justify-content: flex-start;-->
        <!--            }-->
        <!--            .cac-wrapper {-->
        <!--                display: flex;-->
        <!--                flex-direction: row;-->
        <!--                justify-content: space-between;-->
        <!--                font-size: 12px;-->
        <!--            }-->
        <!--            form {-->
        <!--                display: flex;-->
        <!--                flex-direction: column;-->
        <!--                align-items: center;-->
        <!--                justify-content: flex-start;-->
        <!--            }-->
        <!--            input {-->
        <!--                width: 45px;-->
        <!--            }-->
        <!--            .add-button {-->
        <!--                outline: none;-->
        <!--                border: none;-->
        <!--                background-color: whitesmoke;-->
        <!--                color: #2b2b2b;-->
        <!--                transition: all 0.2s;-->
        <!--            }-->
        <!--            .add-button:hover {-->
        <!--                background-color: #ffffcd;-->
        <!--            }-->
        <!--        </style>-->
        <!--        <div class="products-wrapper">-->
        <!--            <div class="product-wrapper" th:each="p : ${products}">-->
        <!--                <div class="product-left-side">-->
        <!--                    <div class="image-wrapper">-->
        <!--                        <img class="image" src="#">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="product-right-side">-->
        <!--                    <h3 class="product-title" th:text="|Name: *{p.name}|"></h3>-->
        <!--                    <div class="cac-wrapper">-->
        <!--                        <span class="product-condition" th:text="|Condition: *{p.productCondition}|"></span>-->
        <!--                        <span class="product-category" th:text="|Category: *{p.category.getCategoryName()}|"></span>-->
        <!--                    </div>-->
        <!--                    <p th:text="|Description: *{p.description}|"></p>-->
        <!--                    <form th:action="@{/cart/add-to-cart}" method="post">-->
        <!--                        <input name="productId" th:value="${p.id}" hidden type="number">-->
        <!--                        <input name="username" th:value="${username}" hidden type="text">-->
        <!--                        <input name="quantity" type="number">-->
        <!--                        <button class="add-button" type="submit">Add To Cart</button>-->
        <!--                    </form>-->
        <!--                </div>-->

        <!--            <div th:each="p : ${products}" class="product-wrapper">-->
        <!--                <p th:text="|Name: *{p.name}|" class="card-text border-bottom "></p>-->
        <!--                <p th:text="|Description: *{p.description}|" class="card-text border-bottom "></p>-->
        <!--                <p th:text="|Condition: *{p.productCondition}|" class="card-text border-bottom "></p>-->
        <!--                &lt;!&ndash;            <p th:text="|Price: *{album.price}|" class="card-text border-bottom ">Price: 19.99</p>&ndash;&gt;-->
        <!--                <p th:text="|Category: *{p.category.getCategoryName()}|" class="card-text border-bottom"></p>-->
        <!--                <form th:action="@{/cart/add-to-cart}" method="post">-->
        <!--                    <input name="productId" th:value="${p.id}" hidden type="number">-->
        <!--                    <input name="username" th:value="${username}" hidden type="text">-->
        <!--                    <input name="quantity" type="number">-->
        <!--                    <button type="submit">Add To Cart</button>-->
        <!--                </form>-->
        <!--            </div>-->
    </div>
    </div>


    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>